/* You can add global styles to this file, and also import other style files */
@import "material-symbols";

body {
	color: var(--md-sys-color-on-background, #000);
	background-color: var(--md-sys-color-background, #fff);
}
